@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

$primary: #007bff;
$success: #28a745;
$warning: #ffc107;
$danger: #dc3545;

body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.main-content {
	padding-top: 100px;
	padding-bottom: 100px;
}

.table{
	border-spacing: 0 15px;
    border-collapse: separate;
	thead, tbody{
		tr{
			th, td{
				vertical-align: middle;
				border:none;
				&:nth-last-child(1){
					text-align: center;
				}
			}
		}
	}
	tbody{
		tr{
			box-shadow: 0 2px 10px rgba(0,0,0,0.1);
			border-radius: 5px;
			td{
				background:#fff;
				&:nth-child(1){
					border-radius: 5px 0 0 5px;
				}
				&:nth-last-child(1){
					border-radius: 0 5px 5px 0;
				}
			}
		}
	}
}

.user-info{
	display:flex;
	align-items: center;
	&__img{
		img{
			margin-right:15px;
			height:55px;
			width:55px;
			border-radius: 45px;
			border:3px solid #fff;
			box-shadow: 0 2px 5px rgba(0,0,0,0.1);
		}
	}
}

.active-circle{
	height:10px;
	width:10px;
	border-radius: 10px;
	margin-right:5px;
	display: inline-block;
}